.container
  .copyright
    |&copy; Company #{year} - #{author} - #{mail_to 'info@changedomainhere.ru'} | #{link_to 'bootstrap', 'http://getbootstrap.com/'}
  p.text-muted Place sticky footer content here.